<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="robots" content="index,follow">
  <meta name="title" content="Notas de Prensa | Tour Experto - Noticias y Actualizaciones">
  <meta name="description"
    content="Explora las últimas notas de prensa y noticias sobre Tour Experto. Descubre nuestras novedades, logros y eventos destacados.">
  <title>Notas</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="content/css/libs/libs-reducidas.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="content/css/styles-basicos.css" />
  <link rel="stylesheet" href="/content/css/notas-de-prensa.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />

  <script defer type="text/javascript" src="content/js/libs/libs-reducidas.js"></script>
  <script defer src="https://webchat.woztell.com/sdk.js"></script>
</head>

<body>
  <!--header-->
  <main>
    <section class="heroNotasPrensa">
      <div>
        <h2>Tour Experto en la prensa</h2>
        <p>
          Orgullosos de ser reconocidos,
          te invitamos a explorar las
          últimas notas que algunos medios
          han hecho sobre nosotros.
        </p>
      </div>
    </section>
    <section class="seccionNotas">
      <p class="tituloNotas">Últimas notas sobre nosotros</p>
      <div class="notas" id="contenedorNotas">
        <!--nota-->
        <a href="<!--url-->" class="nota" style="display:none;">
          <div class="imagenNota" style="background-image:url('/images/notas/<!--img-->')">
          </div>
          <div class="verNota">
            <p>Ver nota</p>
          </div>
        </a>
        <!--finnota-->
      </div>
      <button class="btnVerMas" onclick="verMas();">Ver más</button>
    </section>
    <section class="seccionBanner">
      <div id="sliderBanner" class="sliderBanner">
        <div class="slide slideMobile">
          <a class="banner banner1" href="https://tourexperto.com/cgi-bin/tesearch.pl?ofertas=1&idOrder=3&seg=4"
            target="_blank"></a>
        </div>
        <div class="slide slideMobile">
          <a class="banner banner2" href="https://tourexperto.com/ventajas.html" target="_blank"></a>
        </div>
      </div>
      <div id="sliderBannerDesktop" class="sliderBannerDesktop">
        <div class="slide slideBannerDesktop">
          <a class="bannerDesktop bannerDesktop1"
            href="https://tourexperto.com/cgi-bin/tesearch.pl?ofertas=1&idOrder=3&seg=4" target="_blank"></a>
        </div>
        <div class="slide slideBannerDesktop">
          <a class="bannerDesktop bannerDesktop2" href="https://tourexperto.com/ventajas.html" target="_blank"></a>
        </div>
      </div>
    </section>
  </main>

  <frameset>
    <frame id="view_phone"></frame>
  </frameset>
  <footer id="footer" class="footer-pagina"></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script defer type="text/javascript" src="/content/js/notas-de-prensa.js"></script>
  <script>
    var watcherPagina = setInterval(function () {
      if (window.jQuery) {
        clearInterval(watcherPagina);

        window.onload = function () {
          onloadHeader();

          $(window).resize(function () {
            resizeHeader();
          })

          $('a.contacto-wapp').click(function (e) {
            e.preventDefault();
            if (screen.width < 520) {
              window.open($('a.contacto-wapp').attr('href'), 'view_phone', "width=1,height=1");
            } else {
              window.open($('a.contacto-wapp').attr('href'), 'view_phone', "width=500,height=500");
            }
          });
	 verMas();
          
        }   //fin window.onload

      }
    }, 100); //fin watcher jquery

    var filas = 0; // como empieza llamando a verMas, ya de prepo le suma 1
    var cuantosporfila;

    if ($(window).width() <= 1080) {
      cuantosporfila = 4;
    } else {
      cuantosporfila = 4;
    }

    function verMas() {
      var maxnotas = 0;
      $('.nota').each(function (i) {
        maxnotas++;
      });

      if (filas * cuantosporfila < maxnotas) {
        filas = filas + 1;
        mostrarPaginas();
      }
    }

    function mostrarPaginas() {
      var haymas = 0;
      $('.nota').each(function (i) {
        if (i < filas * cuantosporfila) {
          $(this).show();
        } else {
          haymas = 1;
        }
      });
      if (haymas) {
        $('.btnVerMas').show();
      } else {
        $('.btnVerMas').hide();
      }
    }

  </script>
</body>

</html>
